@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap");
.search {
  position: sticky;
  top: 30px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  max-width: 300px;
}
.search-form {
  width: 100%;
}
.search-form--input {
  width: 100%;
  border: none;
  height: 45px;
  padding: 3px 20px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 15px -7px #4C401C;
  font-family: "spartan", Arial, Helvetica, sans-serif;
  overflow: visible;
  transition: box-shadow ease 0.2s;
}
.search-form--input::placeholder {
  overflow: visible;
}
.search-form--input:focus {
  outline: none;
  box-shadow: 4px 4px 20px -5px #4C401C;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin: 30px 0;
}
@media (max-width: 768px) {
  .profile-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .profile-grid {
    grid-template-columns: 1fr;
  }
}
.profile-grid--item {
  background-color: #fff;
  height: fit-content;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px -7px #4C401C;
  overflow: hidden;
  text-decoration: none;
  color: #4c4c4c;
  visibility: visible;
  transition: opacity ease 0.5s;
}
.profile-grid--item.hidden {
  display: none;
}
.profile-grid--item-img {
  height: 150px;
  background: url("https://lp.trucdev.fr/portraits/500/300/11") no-repeat center;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.profile-grid--item-excerpt {
  padding: 15px 20px;
  height: 150px;
  overflow: auto;
}
.profile-grid--item-excerpt--summary {
  font-size: 0.8rem;
  margin-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd85f;
  color: #343434;
  font-family: "spartan", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
body .wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0 30px;
}